.batch-page{
    .center-wrapper{
        width: 100%;
    }
    .header-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn{
            margin: 0;
        }
    }
    .table{
        margin-bottom: 15px;
    }
}