.tab{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-container{
        position: relative;
        width: 100%;
        .tab-header{
            text-align: center;
            margin: 10px 0;
        }
        .btn{
            font-size: 0.9em;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            padding-bottom: 6px;
            .icon{
                display: inline-block;
                margin-right: 4px;
                transform: translateY(2px);
            }
        }
    }
}